/cmake-build-debug/
/cmake-build-debug-visual-studio/
/cmake-build-release/
/libs/OpenCLWindow/cmake-build-debug/
/libs/OpenCLWindow/cmake-build-release/
/build/
/.gradle/
*.log
*.mdmp
/*.lib
/*.a
/*.jnilib